.animated {
  -webkit-animation: linear;
  -webkit-animation-name: run;
  -webkit-animation-duration: 2.5s;
}

.testSubjectContainer {
  position: absolute;
  z-index: 10;
  opacity: 0;
}

.bigChocolate {
  height: 100px;
  width: 100px;
}

.smallChocolate {
  height: 50px;
  width: 50px;
}

.bottom10 {
  bottom: 10%;
}

.bottom20 {
  bottom: 20%;
}

.bottom30 {
  bottom: 30%;
}

.bottom40 {
  bottom: 40%;
}

.bottom50 {
  bottom: 50%;
}

.bottom60 {
  bottom: 60%;
}

.bottom70 {
  bottom: 70%;
}

.bottom80 {
  bottom: 80%;
}

.bottom90 {
  bottom: 90%;
}

@-webkit-keyframes run {
  0% {
    right: 0;
    opacity: 1;
  }

  98% {
    opacity: 1;
  }

  100% {
    right: calc(100% - 100px);
    opacity: 0;
  }
}

button {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 10;
}

#threeVideoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#threeVideoContainer .testVideoContainer {
  flex: 33.333333%;
}

video {
  height: 100%;
  width: 100%;
}


